.fade {
  &-in {
    opacity: 0;
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
  }
  &-in-left {
    opacity: 0;
    animation: fadeInLeft ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
  }
  &-in-right {
    opacity: 0;
    animation: fadeInRight ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
  }
  &-in-top {
    opacity: 0;
    animation: fadeInTop ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
  }
  &-in-bottom {
    opacity: 0;
    animation: fadeInBottom ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
  }
}
