$font-work-sans: "Work Sans", sans-serif;
$font-montserrat: "Montserrat", sans-serif;
$font-size: 16px;
$bg-color: #efefef;
$tx-color: #2e2e2e;
$white: rgb(255, 255, 255);
$f-400: 400;
$f-700: 700;
$f-900: 900;
$app-height: 100%;
$primary-color: rgb(0, 134, 255);
