@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY();
  }
}

@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY();
  }

  100% {
    opacity: 1;
    transform: translateY(-20px);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX();
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX();
  }

  100% {
    opacity: 1;
    transform: translateX(-20px);
  }
}
